@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.ContainerOfAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadingScreenContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: start;
  align-items: start;
}

.MessageContainer {
  width: 50vw;
  height: 30vh;
  background-color: rgba(15, 15, 15, 0);
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 10px;
  font-family: "VT323";
  font-size: 50px;
  color: #1fc742;
  margin-top: -40vh;
}
